@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge {
    color: #fff !important;
    border-radius: 0.125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

:root { --global-bg-color: #ffffff; --global-code-bg-color: rgba(181, 9, 172, 0.05); --global-text-color: #000000; --global-text-color-light: #828282; --global-theme-color: #002D72; --global-hover-color: #ffb81c; --global-footer-bg-color: #1c1c1c; --global-footer-text-color: #e8e8e8; --global-footer-link-color: #ffffff; --global-distill-app-color: #828282; }

@media (prefers-color-scheme: dark) { :root { --global-theme-color: rgb(36, 150, 203);}}

blockquote { background: var(--global-bg-color); border-left: 2px solid var(--global-theme-color); margin: 1.5em 10px; padding: 0.5em 10px; font-size: 1.2rem; }

@media print, screen and (min-width: 480px) {.col-sm-9 {width: 100%;}}

.pub-row { margin-top: 0.3rem; }

.publications ol.bibliography { list-style: none; padding: 0; margin-top: 0; }

.pub-row { min-height: 110px; margin-bottom: 0.5rem; }

.pub-row .abbr { height: 8rem; margin-bottom: 0.5rem; }

.pub-row .abbr abbr { display: inline-block; background-color: var(--global-theme-color); padding-left: 1rem; padding-right: 1rem; position: absolute; top: 8px; left: 16px; }

.pub-row .abbr abbr a { color: white; }

.pub-row .abbr abbr a:hover { text-decoration: none; }

.pub-row .abbr .award { color: var(--global-theme-color) !important; border: 1px solid var(--global-theme-color); }

.pub-row .title { font-weight: bolder; }

.pub-row .author a { border-bottom: 1px var(--global-theme-color); }

.pub-row .author a:hover { border-bottom-style: solid; text-decoration: none; }

.pub-row .author > em { border-bottom: 1px solid; font-style: normal; }

.pub-row .links {display: flex; margin-top: 0.3rem;}

.pub-row .links a.btn-badge { display: flex; margin-right:0.3rem; }

.pub-row .links a.btn { color: #0e7fc0; border: 1px solid #0e7fc0; padding-left: 0.5rem; padding-right: 0.5rem; margin-right:0.3rem; }

@media (prefers-color-scheme: dark) {
.pub-row .links a.btn { color: #FFFFFF; border: 1px solid #FFFFFF; padding-left: 0.5rem; padding-right: 0.5rem; margin-right:0.3rem; }

  }

.pub-row .links a.btn:hover { color: var(--global-theme-color); border-color: var(--global-theme-color); }

.pub-row .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }

.pub-row .hidden p { line-height: 1.4em; margin: 10px; }

.pub-row .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }

.pub-row .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }

.pub-row div.abstract.hidden { border: dashed 1px var(--global-bg-color); }

.pub-row div.abstract.hidden.open { border-color: var(--global-text-color); }

.pub-row .abbr .teaser { border-radius: 8px; box-shadow: 3px 3px 6px #888; height: 123px; width: 270px; margin-top: 5px; margin-left: 5px; margin-bottom: 5px; object-fit: cover; }


body {
  background-color: #fff;
  padding:0px;
  font: 16.0px/1.5 Crimson Pro, serif; 
  color:#595959;
  font-weight:400;
  margin:0
}

.pub-row {
  display: flex; 
  align-items: center;}

.social-icons a{
  display:inline-block;
  height:2.4rem;
  width:2.4rem;
  background-color:transparent;
  color:#043361!important;
  border-radius:100%;
  text-align:center;
  font-size:1.15rem;
  line-height:2.5rem;
  margin-right:1rem}

@media (prefers-color-scheme: dark) { .social-icons a {color: #3eb7f0 !important; }}

.social-icons a:last-child{margin-right:0}.social-icons a:hover{background-color:white;
    color:black;
    transform: scale(1.2)}
    /*
    .social-icons a:after {
        content: '';
        display: block;
        margin: 0px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
      .social-icons a:hover:after {
        width: 100%;
        background: #337ab7;
      }
     */

@media (prefers-color-scheme: dark) {.social-icons a:last-child{margin-right:0}.social-icons a:hover{background-color:#20212b;
    color:black;
    transform: scale(1.2)} 
    /*
    .social-icons a:after {
        content: '';
        display: block;
        margin: 0px;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
    .social-icons a:hover:after {
        width: 100%;
        background: #a0b0ff;
      }
    */
}

.icon-button{
  background-color:white;
  border-radius:3.6rem;
  cursor:pointer;
  display:inline-block;
  font-size:2.0rem;
  height:3.6rem;
  line-height:3.6rem;
  margin:0 5px;
  position:relative;
  text-align:center;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;width:3.6rem}

.icon-button span{
  border-radius:0;
  display:block;
  height:0;
  left:50%;
  margin:0;
  position:absolute;
  top:50%;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -o-transition:all 0.3s;
  transition:all 0.3s;
  width:0}

.icon-button:hover span{
  width:3.6rem;
  height:3.6rem;
  border-radius:3.6rem;
  margin:-1.8rem}

.twitter span{
  background-color:#4099ff}

.facebook span{
  background-color:#4286f4}

.linkedin span{
  background-color:#0077B5}

.github span{
  background-color:#000}

email {
    font-size: 14px;
    font-family: "Ubuntu Mono";
}

.icon-button i{
  background:none;
  color:white;
  height:3.6rem;
  left:0;
  line-height:3.6rem;
  position:absolute;
  top:0;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -o-transition:all 0.3s;
  transition:all 0.3s;
  width:3.6rem;
  z-index:10}

.icon-button .icon-twitter{
  color:#4099ff}

.icon-button .icon-facebook{
  color:#4286f4}

.icon-button .icon-github{
  color:#000;}

.icon-button .icon-linkedin{
  color:#0077B5}

.icon-button:hover .icon-twitter,.icon-button:hover .icon-facebook,.icon-button:hover .icon-github,.icon-button:hover .icon-linkedin{color:white}

autocolor{
  color:#595959;
}

lightonly {
  visibility: visible;
}

darkonly {
  visibility: hidden;
}

education {
    font-weight: 500;
    font-size: 115%;
  }
papertitle {
    font-weight: 600;
    font-size: 100%;
  }

@media (prefers-color-scheme: dark) {
    body {
        background-color: #20212b;
        color: #dadbdf;
    }

    autocolor{
      color:#dadbdf;
    }

    lightonly {
      visibility: hidden;
    }

    darkonly {
      visibility: visible;
    }

    papertitle {
    color:#eeeff0;
    }

}


  .image {
    border-radius: 0.35em;
    border: 0;
    display: inline-block;
    position: relative;
  }

    .image:before {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      border-radius: 0.35em;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .image.avatar {
      border-radius: 100%;
    }

      .image.avatar:before {
        display: none;
      }

      .image.avatar img {
        border-radius: 100%;
        width: 45%;
        padding: 20px;
        // border: 1px solid #ddd;
        // padding: 3px;
        // box-shadow: 0 -1px 5px 1px rgba(200, 200, 200, 0.3);
      }

    #header .image.avatar {
      margin: 0 0 1em 0;
      width: 8.00em;
    }

h3, h4, h5, h6 {
  font-weight: 600;
  color:#043361;
  margin:0 0 20px;
}

h1 {
  font-weight: 500;
  color:#043361;
  margin:0 0 20px;
}

h2 {
  color:#043361;
  font-weight: 500;
  margin:2px 0px 15px;
  font-size: 157%;
}

@media (prefers-color-scheme: dark) {
  h1, h3, h4, h5, h6 {
    color:rgb(62, 183, 240);
  }

  h2 {
    color:rgb(62, 183, 240);
  }
}

p, ul, ol, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

@media (prefers-color-scheme: dark) {
  a {
    color:rgb(62, 183, 240);
  }
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

img {
  max-width:100%;
}

header {
  width:232px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
  padding-top:4.0em;
  text-align:center
}



header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:500;
}

@media (prefers-color-scheme: dark) {
  strong {
    color:#eeeff0;
  }
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:650px;
  float:right;
  padding-top:4.0em;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:232px;
  float:left;
  position:fixed;
  bottom:30px;
  -webkit-font-smoothing:subpixel-antialiased;
  text-align:center;
}

@media print, screen and (max-width: 960px) {

  .pub-row {
  display: flex; 
  align-items: center;}

  div.wrapper {
    width:auto;
    margin:0;
  }


  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }


   .image.avatar img {
        border-radius: 100%;
        width: 117px;
        padding:20px;
      }
  #head1o2 {
    visibility: hidden;
  }
      
  #head2o2 {
    visibility: hidden;
  }
  
}

@media print, screen and (max-width: 960px) {
  body {
    word-wrap:break-word;
    padding:15px;
  }

  .pub-row {
  display: flex; 
  align-items: center;}

  header {
    padding:0;
  }

  header ul, header p.view {
    
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {

  .pub-row {
    display: block; 
    align-items: center;}

  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }

  .image.avatar img {
      border-radius: 100%;
      width: 95px;
      padding:20px;
  }
  #head1o2 {
    visibility: hidden;
  }
  
  #head2o2 {
    visibility: hidden;
  }

}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

.biblink {
  text-decoration:none;
  display: inline;
  margin-right: 0px;
}

.fakelink {
  text-decoration: none;
  cursor: pointer;
}

.bibref {
  font-size: 70%;
  margin-top: 10px;
  margin-left: 0px;
  display:none;
  font-family: monospace;
}